// Body
$body-bg: #f8fafc;

// Typography
$font-family-header: 'Oxygen', sans-serif;
$font-size-header: 2rem;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$nav-bg: #111;
$nav-bg-accent: #222;

// Colors
$blue: #3490dc;
$blue-hover: darken($blue, 5%);
$blue-dark: darken($blue, 10%);
$blue-active: light($blue, 5%);
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$palette: #111e1e;
$palette-accent: #354747;
$palette-highlight: #869090;