// Fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen|Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Page CSS
@import 'page/home';

body {
    min-height: 1000px;
}

.fas,
.far {
    &.left {
        margin-left: 0.5px;
    }
    &.right {
        margin-right: 0.5px;
    }
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar {
    transition: background-color 250ms 100ms, border-bottom 250ms 100ms;
    border-bottom: 1px solid transparent;

    a.navbar-brand {
        * {
            vertical-align: middle;
            transition: all 250ms ease-in;
        }

        font-family: 'Oxygen';
        font-size: 2rem;

        img {
            height: 3rem;
            width: 3rem;
            margin: 0 10px;
        }
    }
    
    a.nav-link {
        transition: color 200ms ease-in-out;
    }

    #navbarCollapse {
        margin: 0 15px 0 25px;
    }

    @mixin darken {
        background-color: $nav-bg;
        border-bottom: 1px solid $nav-bg-accent;

        a.navbar-brand {
            font-size: 1.5rem;

            img {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    &.moved {
        @include darken;
    }

    .dropdown-menu {
        background-color: $nav-bg-accent;
        border-bottom: 1px solid $nav-bg-accent;

        .dropdown-item {
            color: rgba(255, 255, 255, 0.6);
            opacity: 0.5;
            transition: color 250ms ease-in-out;

            &:hover {
                color: rgba(255, 255, 255, 0.75);
                background-color: inherit;

            }
        }
    }

    @include media-breakpoint-down(md) {
        @include darken;
        
        #navbarCollapse {
            margin: 0;

            li {
                margin-top: 5px;

                .dropdown-toggle {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        border-top: 0.5em solid;
                        border-right: 0.5em solid transparent;
                        border-left: 0.5em solid transparent;
                    }
                }
            }
        }

        .navbar-toggler {
            color: #ffffff;
            border-color: #ffffff;

            .navbar-toggler-icon {
                background: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
            }
            
            &:hover,
            &:active {
                background-color: #fff;
                color: $nav-bg;

                .navbar-toggler-icon {
                    background: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(32, 32, 32, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
                }
            }
        }
    }
}