// Fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen|Roboto');

// Variables
@import 'variables';

// NoUISlider
@import '~nouislider/distribute/nouislider.min.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

// Flag Icon
@import 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Page CSS
@import 'page/home';
@import 'page/properties.search';
@import 'page/properties.view';
@import 'page/properties.add';
@import 'page/users.view';

// Component CSS
@import 'components/navigation';
@import 'components/slider';
@import 'components/property';
@import 'components/multiselect';
@import 'components/inputgroup';
@import 'components/togglebuttons';

body {
    min-height: 1000px;

    &.nolanding {
        margin-top: 65.22px;

        #nav {
            @include darken;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-header;
}

.btn {
    transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
    background-color: #2a79b9;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: #5c646b;
}

@include media-breakpoint-down(md) {
    .btn-block {
        margin-top: 10px;
        margin-bottom: 0;
        &:not(:first-child) {
            margin: 10px 0;
        }
    }
}

*:hover,
*:active,
*:focus {
    box-shadow: none;
}

.fas,
.far {
    &.left {
        margin-left: 0.5px;
    }
    &.right {
        margin-right: 0.5px;
    }
}

.iconed {
    position: relative;
    .fas,
    .far {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        font-size: $font-size-base;
    }

    input {
        padding-left: calc( 16px + 0.9rem) !important;
    }
}

@include media-breakpoint-only(xs) {
    .btn-xs-block {
      display: block;
      width: 100%;
    }
}
  
@include media-breakpoint-only(sm) {
    .btn-sm-block {
        display: block;
        width: 100%;
    }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}