#messages {
    min-height: 500px;
    max-height: 500px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chatheads {
    min-height: 500px !important;
    max-height: 500px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}